/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Styles pour les snackbars de notification */
.snackbar-success {
  --mdc-snackbar-container-color: #4caf50 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-snack-bar-button-color: white !important;
}

/* Styles pour les snackbars d'erreur */
.snackbar-error {
  --mdc-snackbar-container-color: #f44336 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-snack-bar-button-color: white !important;
}

/* Styles pour les snackbars d'avertissement */
.snackbar-warning {
  --mdc-snackbar-container-color: #ff9800 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-snack-bar-button-color: white !important;
}

/* Styles pour les snackbars d'information */
.snackbar-info {
  --mdc-snackbar-container-color: #2196f3 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-snack-bar-button-color: white !important;
}
